{% extends "base.html" %}
{% block content %}
<div id="container">
    <div id ="contentbox">
            <h3> ABOUT AND INSTRUCTIONS</h3><br>
            <textarea name="" id="" cols="40" rows="30">
Hey there, how's it going?

We created this app because we know how frustrating it can be to search for a great TV show to watch. Let's face it, most rating websites have been rigged and manipulated by now. But don't worry, we've got your back! Our app is designed to let you recommend TV shows that you absolutely loved and can't stop raving about.

Here's what you need to do to get started:

  1 Sign up for an account. It's quick and painless, we promise!
  2 Log in to the app so you can start browsing and recommending TV shows.
  3 Find a show that you think was an absolute blast and that everyone needs to watch. We're talking about the kind of show that you can't help but tell your friends about!
  4 Check out what other users have recommended. Who knows, you might find your next binge-worthy show on our app!
So, what are you waiting for? Sign up now and let's start discovering some amazing TV shows together!

            </textarea>
            
    </div>
    </div> 
{% endblock content%}